.chr canvas {
  border: 1px solid red;
}

.databus .debugger {
    font-family: monospace;
}
  
.databus .debugger td.target {
    color: red;
  }
  
.databus .debugger p.error {
    color: red;
  }
  
 .databus .debugger p.success {
    color: green;
  }

.cpu .debug {
  font-family: "Courier New", Courier, monospace;
}

.ppu .screen {
  border: 1px solid gray;
}

.ppu .screen-container.fullscreen {
  position: fixed;
  width: 100%;
  height: 100%;
  display: flex;
  z-index: 500;
  justify-content: center;
  background-color: black;
  top: 0px;
  left: 0px;
}

.ppu .screen-container.fullscreen .screen {
  height: 100%;
}

.nametable canvas {
  border: 1px solid red;
}
